# "local" makes vite use http:// for SUPA_URL/API_DOMAIN (capgo/vite.config.mts)
ENV=local
BASE_DOMAIN=localhost:8084
SUPA_ANON=key-from-supabase
SUPA_URL=http://localhost:8000
API_DOMAIN=localhost:8000/functions/v1
CAPTCHA_KEY=""
